<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">
      <i class="fas fa-map-marker-alt"></i>
    </span>
  </div>
  <input
    type="search"
    #autocomplete
    placeholder="{{ placeholder }}"
    class="form-control txt-field"
    aria-label="Username"
    [(ngModel)]="street"
    aria-describedby="addon-wrapping"
    name="autocomplete"
  />
</div>
