.input-group input {
  height: 3rem;
}

.fa-map-marker-alt {
  font-size: 1.5rem;
}

.form-control {
  font-size: 14px;
  padding: 1.7rem 0.75rem;
  background-color: #000000;
  border: none;
}

.txt-field {
  color: white;
  margin-bottom: 1rem;
}

#addon-wrapping {
  background-color: #f9d700;
}
