page-login {
  .content-md,
  .content-ios {
    background: url(../../assets/imgs/header-bg.jpg) center;
    background-size: cover;
  }

  .fixed-content {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .scroll-content {
    padding: 2rem;
  }

  .footer-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  .footer-text {
    color: #777777;
    text-align: center;
    margin-bottom: 0px;
  }
  .footer-social {
    padding-top: 10rem;
    .fab {
      font-size: 2rem;
    }
    a {
      &:hover {
        i {
          color: #000;
        }
      }
    }
    i {
      color: #cccccc;
    }
    @include media-breakpoint-down(md) {
      text-align: left;
    }
  }
}
