<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Taxito</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="col-lg-4  col-md-6 header-right">
    <h4 class="pb-30">Login</h4>
    <form
      #form="ngForm"
      class="form"
      (ngSubmit)="form.form.valid && login()"
      novalidate
    >
      <div class="from-group">
        <input
          class="form-control txt-field"
          [(ngModel)]="user.username"
          type="text"
          name="name"
          placeholder="Потребителско име"
          required
        />
        <input
          class="form-control txt-field"
          [(ngModel)]="user.password"
          type="password"
          name="password"
          placeholder="Парола"
          required
          minlength="6"
        />
      </div>
      <div class="form-group">
        <button
          type="submit"
          [disabled]="form.form.invalid"
          class="btn btn-default btn-lg btn-block text-center text-uppercase"
        >
          Влез
        </button>
      </div>
      <div class="form-group">
        <button
          class="btn btn-default btn-lg btn-block text-center text-uppercase"
          routerLink="/register"
        >
          Регистрирай се
        </button>
      </div>
    </form>
  </div>

  <div class="footer-social row justify-content-center align-items-center">
    <a><i class="fab fa-facebook"></i></a>
    <a><i class="fab fa-twitter"></i></a>
    <a><i class="fab fa-dribbble"></i></a>
    <a><i class="fab fa-behance"></i></a>
  </div>

  <p class="mt-80 mx-auto footer-text col-lg-12">
    Copyright &copy; 2019 All rights reserved <br />By <strong>Darko</strong>
  </p>
</ion-content>
<ion-footer>
  <img class="footer-bottom" src="../../assets/imgs/footer-bottom.png" />
</ion-footer>
