page-home {
  agm-map {
    width: 100%;
    height: 100%;
  }

  img {
    position: relative;
    width: 6rem;
    height: 6rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fas {
    font-size: 2rem;
    color: #000;
    padding-right: 0.5rem;
  }

  #overMap {
    width: 100%;
    position: absolute;
    top: 10px;
    z-index: 99;
  }

  .order-button {
    margin-right: 1.2rem;
  }

  .button-inner {
    font-size: 2.2rem;
  }

  .fa-location-arrow {
    color: #636363;
  }

  #Settings {
    margin: 1rem;
    user-select: none;
    position: absolute;
    top: 20rem !important;
    width: 4rem;
    height: 4rem;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border-radius: 2px;
  }

  .toolbar-ios ion-title {
    padding: 0;
  }
  .toolbar-title-md {
    font-weight: bold;
  }

  #Settings:focus {
    outline: 0;
  }

  ion-footer .toolbar-background-md {
    background: url(../../assets/imgs/call-action-bg.jpg) center;
    background-size: cover;
  }
  ion-footer .toolbar-content-md {
    background-color: rgba(249, 215, 0, 0.9);
  }
}
