<ion-header align-title="center" class="bar-positive">
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="title">
      Taxito
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="overMap">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-9>
          <autocomplete
            (setAddress)="getAddressFrom($event)"
            placeholder="Въведете адреса ОТ"
            (streetChange)="taxiOrder.addressFrom = $event"
            [street]="taxiOrder.addressFrom"
          >
          </autocomplete>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-9>
          <autocomplete
            (setAddress)="getAddressTo($event)"
            placeholder="Въведете адреса ДО"
            (streetChange)="taxiOrder.addressTo = $event"
            [street]="taxiOrder.addressTo"
          >
          </autocomplete>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <agm-map
    [styles]="mapStyle$ | async"
    [latitude]="taxiOrder.latitudeFrom"
    [longitude]="taxiOrder.longitudeFrom"
    [zoom]="13"
    (mapReady)="mapReady($event)"
  >
    <button (click)="getCurrentLocation()" id="Settings">
      <i class="fas fa-location-arrow"></i>
    </button>
    <agm-direction
      [visible]="areDirectionsVisible"
      [origin]="firstPlace"
      [destination]="secondPlace"
    ></agm-direction>
  </agm-map>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="taxiOrder.price && !isOrderAccepted">
    <ion-row>
      <ion-col col-6 class="my-auto">
        <ion-title class="footer-title"
          >Цена: {{taxiOrder.price | number : '1.2-2'}} лв</ion-title
        >
      </ion-col>
      <ion-col col-6>
        <button
          class="order-button"
          float-right
          ion-button
          (click)="requestTaxiOrder()"
        >
          Поръчай
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <div class="card text-black bg-warning h-100" *ngIf="isOrderAccepted">
    <div class="card-header address">
      <div class="row align-items-center h-50">
        <div class="col-3">
          <img
            [src]="driverImageUrl"
            class="rounded mx-auto d-block float-left"
          />
        </div>
        <div class="col-5 text-center">
          <span class="card-title"
            ><i class="fas fa-street-view"></i
            >{{receivedTaxiOrder.user?.driver?.fullName}}</span
          >
        </div>
        <div class="col-4 text-center" (click)="openModal()">
          <span class="card-title"
            ><i class="fas fa-mobile-alt"></i
            >{{receivedTaxiOrder.user?.driver?.phoneNumber}}</span
          >
        </div>
      </div>
    </div>
    <div class="card-header address">
      <div class="row align-items-center h-50">
        <div class="col-3">
          <img [src]="carImageUrl" class="rounded mx-auto d-block float-left" />
        </div>
        <div class="col-4 text-center">
          <span class="card-title"
            ><i class="fas fa-car"></i>
            {{receivedTaxiOrder.user?.driver?.carModel}}</span
          >
        </div>
        <div class="col-5 text-center">
          <span class="card-title"
            ><i class="fas fa-car-side"></i>
            {{receivedTaxiOrder.user?.driver?.carNumber}}</span
          >
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row align-items-center h-50">
        <div class="col-6 text-center">
          <span class="card-title"
            ><i class="fas fa-clock"></i> {{(receivedTaxiOrder.duration ?
            receivedTaxiOrder.duration : 0) | minuteSeconds}} мин.</span
          >
        </div>
        <div class="col-6 text-center">
          <span class="card-title"
            ><i class="fas fa-mobile-alt"></i
            >{{receivedTaxiOrder.taxiOrder?.status}}</span
          >
        </div>
      </div>
    </div>
  </div>
</ion-footer>
