<form
  #form="ngForm"
  (ngSubmit)="form.form.valid && registerUser(user)"
  [mustMatch]="['password', 'confirmPassword']"
  novalidate
>
  <div class="from-group">
    <label for="email">Email</label>
    <input
      name="email"
      type="email"
      class="form-control txt-field"
      [(ngModel)]="user.email"
      #userEmail="ngModel"
      [ngClass]="{ 'is-invalid': form.submitted && userEmail.invalid }"
      required
      email
    />
    <div *ngIf="form.submitted && userEmail.invalid" class="invalid-feedback">
      <div *ngIf="userEmail.errors.required">Email-a е задължителен</div>
      <div *ngIf="userEmail.errors.email">Невалиден email</div>
    </div>
  </div>
  <div class="from-group">
    <label for="username">Потребителско име</label>
    <input
      class="form-control txt-field"
      name="username"
      type="text"
      [(ngModel)]="user.username"
      #userUsername="ngModel"
      [ngClass]="{ 'is-invalid': form.submitted && userUsername.invalid }"
      required
    />
    <div
      *ngIf="form.submitted && userUsername.invalid"
      class="invalid-feedback"
    >
      <div *ngIf="userUsername.errors.required">
        Потребителско име е задължително
      </div>
    </div>
  </div>
  <div class="from-group">
    <label for="password">Парола</label>
    <input
      class="form-control txt-field"
      name="password"
      type="password"
      [(ngModel)]="user.password"
      [ngClass]="{ 'is-invalid': form.submitted && userPassword.invalid }"
      #userPassword="ngModel"
      required
      minlength="6"
    />
    <div
      *ngIf="form.submitted && userPassword.invalid"
      class="invalid-feedback"
    >
      <div *ngIf="userPassword.errors.required">Парола е задължителна</div>
      <div *ngIf="userPassword.errors.minlength">
        Минимален брой символи е 6
      </div>
    </div>
  </div>
  <div class="from-group">
    <label for="confirmPassword">Повторна парола</label>
    <input
      class="form-control txt-field"
      name="confirmPassword"
      type="password"
      [(ngModel)]="confirmPassword"
      #confirmPasswordValidation="ngModel"
      [ngClass]="{ 'is-invalid': form.submitted && confirmPasswordValidation.invalid }"
      required
    />
    <div
      *ngIf="form.submitted && confirmPasswordValidation.invalid"
      class="invalid-feedback"
    >
      <div *ngIf="confirmPasswordValidation.errors.required">
        Повторна парола е задължителна
      </div>
      <div *ngIf="confirmPasswordValidation.errors.mustMatch">
        Паролите трябва да съвпадат
      </div>
    </div>
  </div>

  <div class="from-group">
    <label for="name">Име и фамилия</label>
    <input
      name="name"
      type="text"
      class="form-control txt-field"
      [(ngModel)]="user.driver.fullName"
      #userName="ngModel"
      [ngClass]="{ 'is-invalid': form.submitted && userName.invalid }"
      required
    />
    <div *ngIf="form.submitted && userName.invalid" class="invalid-feedback">
      <div *ngIf="userName.errors.required">Името е задължително</div>
    </div>
  </div>

  <div class="from-group">
    <label for="carColor">Цвета на колата</label>
    <input
      name="carColor"
      type="text"
      class="form-control txt-field"
      [(ngModel)]="user.driver.carColor"
      #carColor="ngModel"
      [ngClass]="{ 'is-invalid': form.submitted && carColor.invalid }"
      required
    />
    <div *ngIf="form.submitted && carColor.invalid" class="invalid-feedback">
      <div *ngIf="carColor.errors.required">
        Цвета на колата е задължително поле
      </div>
    </div>
  </div>

  <div class="from-group">
    <label for="carColor">Номер на колата</label>
    <input
      name="carNumber"
      type="text"
      class="form-control txt-field"
      [(ngModel)]="user.driver.carNumber"
      #carNumber="ngModel"
      [ngClass]="{ 'is-invalid': form.submitted && carNumber.invalid }"
      required
    />
    <div *ngIf="form.submitted && carNumber.invalid" class="invalid-feedback">
      <div *ngIf="carNumber.errors.required">
        Номера на колата е задължително поле
      </div>
    </div>
  </div>

  <div class="from-group">
    <label for="carColor">Модел на колата</label>
    <input
      name="carNumber"
      type="text"
      class="form-control txt-field"
      [(ngModel)]="user.driver.carModel"
      #carModel="ngModel"
      [ngClass]="{ 'is-invalid': form.submitted && carModel.invalid }"
      required
    />
    <div *ngIf="form.submitted && carModel.invalid" class="invalid-feedback">
      <div *ngIf="carModel.errors.required">
        Модела на колата е задължително поле
      </div>
    </div>
  </div>

  <div class="from-group">
    <label for="phone">Телефонен номер</label>
    <input
      name="phone"
      type="text"
      class="form-control txt-field"
      [(ngModel)]="user.driver.phoneNumber"
      #phoneNumber="ngModel"
    />
  </div>

  <div class="from-group">
    <button
      type="button"
      name="carImage"
      class="btn btn-success"
      (click)="selectImage('carImage')"
    >
      Качете снимка на колата
    </button>
  </div>

  <div class="from-group">
    <button
      type="button"
      name="driverImage"
      class="btn btn-success"
      (click)="selectImage('driveImage')"
    >
      Качете снимка на шофьора
    </button>
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-default btn-lg btn-block text-center text-uppercase"
      routerLink="/register"
    >
      Регистрирай се
    </button>
  </div>
</form>
