<ion-header>
  <ion-navbar>
    <ion-title>Регистрация</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button class="font-weight-bold" value="client"
        >Клиент</ion-segment-button
      >
      <ion-segment-button class="font-weight-bold" value="driver"
        >Шофьор</ion-segment-button
      >
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding [ngSwitch]="segment">
  <div class="col-lg-4  col-md-6 header-right" *ngSwitchCase="'client'">
    <h4 class="pb-30">Регистрация на клиент</h4>
    <client-register-form
      (registerSubmit)="registerUser($event)"
    ></client-register-form>
  </div>

  <div class="col-lg-4  col-md-6 header-right" *ngSwitchCase="'driver'">
    <h4 class="pb-30">Регистрация на шофьор</h4>
    <driver-register-form
      (registerSubmit)="registerUser($event)"
    ></driver-register-form>
  </div>
</ion-content>
