page-register {
  .content-md,
  .content-ios {
    background: url(../../assets/imgs/header-bg.jpg) center;
    background-size: cover;
  }

  .fixed-content {
    background-color: rgba(0, 0, 0, 0.8);
  }

  button {
    margin-top: 2rem;
  }
}
