page-order-details {
  font-weight: bold;
  .row {
    padding: 0;
  }

  .content-md,
  .content-ios {
    background: url(../../assets/imgs/header-bg.jpg) center;
    background-size: cover;
  }

  .fixed-content {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .single-order-card {
    background-color: #f9d700;
    border: 1px solid #4b5263;
    border-radius: 7px;
    box-shadow: 2px solid black;
    margin: 1.5rem;

    .fas {
      font-size: 2rem;
    }

    .fa-map-marker-alt {
      color: #28a745;
    }

    .fa-map-marker {
      color: darkorange;
    }
  }
}
