<!--
  Generated template for the OrderDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<driver-header
  [showBackButton]="true"
  [headerText]="getTitle()"
></driver-header>

<ion-content padding>
  <div class="row class mt-5">
    <div
      class="col-lg-5 single-order-card"
      *ngFor="let orders of (taxiOrders$ | async); trackBy: trackByFn"
    >
      <div class="row justify-content-center pt-3">
        <div class="col-2">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="col-10">
          <p>{{ orders.addressFrom }}</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-2">
          <i class="fas fa-map-marker"></i>
        </div>
        <div class="col-10">
          <p>{{ orders.addressTo }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-left">
          <p>Цена: {{ orders.price | number : '1.2-2' }} лв</p>
        </div>

        <div class="col-6 text-right">
          <button
            *ngIf="status === 'pending'"
            class="btn btn-success"
            (click)="acceptOrder(orders, 'Accepted')"
          >
            Приеми
          </button>
        </div>
      </div>
      <img class="footer-bottom" src="../../../assets/imgs/footer-bottom.png" />
    </div>
  </div>
</ion-content>
