<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Добре дошли в чата</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container h-100 w-100 p-0">
    <div class="row h-100 w-100 p-0 m-0">
      <div class="col d-flex p-0 h-100 w-100">
        <div class="card w-100">
          <div
            class="card-header bg-darkblue text-white py-1 px-2"
            style="flex: 1 1"
          >
            <div class="d-flex flex-row justify-content-start">
              <div class="col-1 p-1">
                <button
                  class="btn text-white bg-darkblue p-0 hover-color-lightgray"
                >
                  <i class="fas fa-bars fa-2x"></i>
                </button>
              </div>
              <div class="col">
                <div class="my-0">
                  <b>Таксито Чат</b>
                </div>
              </div>
            </div>
          </div>
          <div
            class="card-body bg-lightgrey d-flex flex-column p-0"
            style="flex: 9 1"
          >
            <div class="container-fluid message-scroll" style="flex: 1 1">
              <div class="row" *ngFor="let message of messages">
                <div
                  class="card message-card m-1"
                  *ngIf="user.user.id !== message.from"
                >
                  <div class="card-body p-2">
                    <span class="mx-2"
                      ><strong>{{ username}} :</strong> {{ message.text }}</span
                    >
                    <span class="float-right mx-1"
                      ><small
                        >{{ now | date:'shortTime' }}<i
                          class="fas fa-eye fa-fw"
                          style="color:#e64980"
                        ></i></small
                    ></span>
                  </div>
                </div>
                <div
                  class="row justify-content-end w-100"
                  *ngIf="user.user.id === message.from"
                >
                  <div class="card message-card bg-lightblue m-1">
                    <div class="card-body p-2">
                      <span class="mx-2"
                        ><strong>{{ user.user.username }} :</strong> {{
                        message.text }}</span
                      >
                      <span class="float-right mx-1"
                        ><small
                          >{{ now | date:'shortTime' }}<i
                            class="fas fa-eye fa-fw"
                            style="color:#e64980"
                          ></i></small
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group">
              <input
                type="text"
                class="form-control border-0"
                name="messageText"
                [(ngModel)]="message.text"
                placeholder="Съобшение..."
              />
              <span class="input-group-addon">
                <button
                  class="btn btn-primary h-100"
                  type="button"
                  (click)="sendMessage(message)"
                >
                  Изпрати
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</ion-content>
