<ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
        <img src="../../assets/imgs/welcome_slide1.png" >
        <h1>Добре дошли в нашето приложение ТАКСИТО!</h1>
    </ion-slide>
    <ion-slide>
        <img src="../../assets/imgs/welcome_slider2.png" >
        <h1>Изберете желаната локация и пътувайте с нас</h1>
    </ion-slide>
    <ion-slide>
        <img src="../../assets/imgs/welcome_slider3.png" >
        <h1>Лесно заработване на пари като шофьор</h1>
        <button class="btn btn-success btn-lg" routerLink="/login">Продължете</button>
    </ion-slide>
</ion-slides>