<ion-fab bottom right [ngStyle]="{'margin-bottom': hasContinue ? '55%' : '0' }">
  <button ion-fab>Меню</button>
  <ion-fab-list side="top">
    <button *ngIf="router.url !== '/driver'" ion-fab [routerLink]="['/driver']">
      Карта
    </button>
    <button
      *ngIf="router.url !== '/driver-order'"
      ion-fab
      [routerLink]="['/driver-order']"
    >
      Поръчки
    </button>
    <button ion-fab (click)="logout()">Изход</button>
  </ion-fab-list>
</ion-fab>
