page-driver-order-menu {
  .content-md,
  .content-ios {
    background: url(../../assets/imgs/menu-order-background.jpg) center;
    background-size: cover;
  }

  .row {
    padding: 4rem;
  }

  .single-service {
    background-color: #f9d700;
    text-align: center;
    padding: 30px;
    border-radius: 5px;

    .fas {
      font-size: 3rem;
    }

    .lnr {
      color: #000;
      font-size: 30px;
      font-weight: 900;
    }

    h4 {
      margin-top: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 2rem;
      font-weight: bold;
    }

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
}
