<driver-header [showBackButton]="true" [headerText]="'Поръчки'"></driver-header>
<driver-fab-button></driver-fab-button>

<router-outlet></router-outlet>

<ion-content padding>
  <div class="row" *ngIf="(taxiOrders$ | async) as orders">
    <div
      class="col-lg-4 single-service"
      [routerLink]="['./details', 'pending']"
    >
      <i class="fas fa-car"></i>
      <h4>Pending</h4>
      <p>
        {{ getCountByStatus(orders, 'Pending') }}
      </p>
    </div>
    <div
      class="col-lg-4 single-service"
      [routerLink]="['./details', 'accepted']"
    >
      <i class="fas fa-clipboard-check"></i>
      <h4>Accepted</h4>
      <p>
        {{ getCountByStatus(orders, 'Accepted') }}
      </p>
    </div>
    <div
      class="col-lg-4 single-service"
      [routerLink]="['./details', 'canceled']"
    >
      <i class="fas fa-car-crash"></i>
      <h4>Canceled</h4>
      <p>
        {{ getCountByStatus(orders, 'Canceled') }}
      </p>
    </div>
    <div
      class="col-lg-4 single-service"
      [routerLink]="['./details', 'completed']"
    >
      <i class="fas fa-user-check"></i>
      <h4>Completed</h4>
      <p>
        {{ getCountByStatus(orders, 'Completed') }}
      </p>
    </div>
  </div>
</ion-content>
