// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body,
h1,
h4,
p,
label,
div,
form {
  font-family: 'Montserrat', sans-serif;
}

//HEADER
ion-header {
  transition: all 0.5s;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
  .toolbar-background-md {
    background-color: #000;
  }
  .toolbar-title-md {
    color: white;
  }

  .bar-button-default-md {
    color: white;
  }
}

// INPUTS
.header-right {
  background-color: #f9d700;
  border: 1px solid #4b5263;
  padding: 2.5rem;
  text-align: center;

  h4 {
    color: #222222;
    font-weight: 600;
  }

  .form-control {
    font-size: 14px;
    padding: 2.3rem 0.75rem;
    background-color: #000000;
    border: none;
  }

  .txt-field {
    margin-bottom: 1rem;
  }

  .btn-lg {
    width: 100%;
    font-size: 14px;
    padding: 0.8rem 1rem;
    color: white;
    background-color: #000000;
  }

  .invalid-feedback {
    padding-bottom: 1rem;
  }

  .is-invalid {
    border: 1px solid red;
  }

  // BUTTONS
  .bar-button-md:focus {
    outline: none;
  }
}
