page-driver-home {
  agm-map {
    width: 100%;
    height: 100%;
  }

  ion-card {
    max-height: 200px;
    overflow: scroll;
    position: absolute;
    z-index: 1;
  }

  #overMap {
    width: 100%;
    position: absolute;
    top: 10px;
    z-index: 99;
  }

  ion-footer {
    height: 30%;
    background: #e2e2e2;

    .card-body {
      padding-top: 0;
      padding-bottom: 0;
    }

    .fas {
      font-size: 2rem;
      color: #000;
      padding-right: 0.5rem;
    }

    .address {
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
  }

  .col {
    padding-top: 0 !important;
  }
}
