<driver-header
  [showBackButton]="false"
  [headerText]="'Начална'"
></driver-header>
<driver-fab-button [hasContinue]="hasContinue"></driver-fab-button>

<ion-content>
  <div id="overMap">
    <ion-card>
      <ion-card-content>
        <div #directionsPanel></div>
      </ion-card-content>
    </ion-card>
  </div>
  <agm-map
    [styles]="mapStyle$ | async"
    [zoom]="15"
    (mapReady)="mapReady($event)"
  >
    <button (click)="getCurrentLocation()" id="Settings">
      <i class="fas fa-location-arrow"></i>
    </button>
    <agm-direction
      [visible]="areDirectionsVisible"
      [origin]="currentLocation"
      [destination]="receivedTaxiOrder.taxiOrder?.addressTo"
      [markerOptions]="markerOptions"
      [waypoints]="waypoints"
    ></agm-direction>
  </agm-map>
</ion-content>

<ion-footer *ngIf="hasContinue" [@enterAnimation]>
  <div class="card text-black bg-warning h-100">
    <div class="card-header address">
      <i class="fas fa-map-marker-alt"></i
      >{{receivedTaxiOrder.taxiOrder?.addressFrom}}
    </div>
    <div class="card-header address">
      <i class="fas fa-map-marker-alt"></i
      >{{receivedTaxiOrder.taxiOrder?.addressTo!}}
    </div>

    <div class="card-body">
      <div class="row align-items-center h-50">
        <div class="col-6 text-center">
          <span class="card-title"
            ><i class="fas fa-street-view"></i
            >{{receivedTaxiOrder.user?.client?.fullName}}</span
          >
        </div>
        <div class="col-6 text-center" (click)="openModal()">
          <span class="card-title"
            ><i class="fas fa-mobile-alt"></i
            >{{receivedTaxiOrder.user?.client?.phoneNumber}}</span
          >
        </div>
      </div>
      <div class="row align-items-center h-50">
        <div class="col-12 text-center">
          <span class="card-title"
            ><i class="fas fa-money-bill-alt"></i
            >{{receivedTaxiOrder.taxiOrder?.price | number : '1.2-2'}} лв.</span
          >
        </div>
      </div>
    </div>
    <div class="card-header">
      <div class="row text-center">
        <div class="col-6" *ngIf="!isOrderAccepted">
          <button
            class="btn-lg btn-success col-12"
            (click)="updateOrderStatus('Accepted')"
          >
            Приеми
          </button>
        </div>
        <div class="col-6" *ngIf="!isOrderAccepted">
          <button
            class="btn-lg btn-danger col-12"
            (click)="updateOrderStatus('Canceled')"
          >
            Откажи
          </button>
        </div>
        <div class="col-12" *ngIf="isOrderAccepted && isArrived">
          <button
            class="btn-lg btn-dark col-6"
            (click)="updateOrderStatus('Completed')"
          >
            Приключи
          </button>
        </div>
        <div class="col-12" *ngIf="isOrderAccepted && !isArrived">
          <button
            class="btn-lg btn-primary col-6"
            (click)="updateOrderStatus('Arrived')"
          >
            Стигнах
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-footer>
