<ion-header>
  <ion-navbar>
    <ion-title>{{ headerText }}</ion-title>
    <ion-buttons left *ngIf="showBackButton">
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <div class="toggle">
        <ion-toggle
          mode="ios"
          [(ngModel)]="driver.available"
          [checked]="driver.available"
          (ionChange)="toggleStatus(driver)"
        ></ion-toggle>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>
