driver-header {
  .toggle {
    display: flex;
  }

  .toggle-ios .toggle-icon {
    background: red;
  }

  .toggle-ios .toggle-icon::before {
    background: red;
  }

  .toggle-ios.toggle-checked .toggle-icon {
    background: green;
  }
}
